tmux/.config/tmux/plugins/
tmux/.config/tmux/resurect/
wallpapers/.config/wallpapers/selected/
nvim/.config/nvim/lazy-lock.json
hypr/.config/hypr/hyprland/monitors.conf
hyprctl_output.json
brave
ssh/.ssh/github
ssh/.ssh/ssh-otto
ssh/.ssh/ssh-obsidian
ssh/.ssh/github.pub
ssh/.ssh/ssh-otto.pub
ssh/.ssh/ssh-obsidian.pub
ssh/.ssh/known_hosts
ssh/.ssh/known_hosts.old
**/Session.vim
install/yay
