window {
    margin: 0px;
    background-color: #232136;
    border: solid 1px #393552; 
    border-radius: 7px;
    color: #e0def4;
    font-family: 'JetBrains Mono Medium Nerd Font';
    font-size: 15px;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 7px;;
    color: #eb6f92;
    background-color: #393552;
}

#inner-box {
    margin: 5px;
    color: #232136;
    background-color: #393552;
    border-radius: 7px;
}

#outer-box {
    margin: 15px;
    border: none;
    border-radiux: 7px;
    background-color: #232136;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 7px;
    outline: none;
}

#entry:selected * {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 7px;;
    outline: none;
}
