* {
  border: none;
  border-radius: 0px;
  font-family:
    "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Hack Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 10px;
  opacity: 1;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
}
tooltip {
  border-radius: 10px;
  background-color: @base;
  color: @text;
  padding: 10px;
  font-size: 12px;
  border: 1px solid @subtle;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 10px;

  border-radius: 10px;
  color: @text;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button:last-child {
  margin-right: 0px;
}

#workspaces button.visible {
  background: @text;
  color: @base;

  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @gold;
  color: @base;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @gold;
  color: @base;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#window {
  box-shadow: none;
  text-shadow: none;

  background: @base;
  color: @text;
  animation: ws_normal 20s ease-in-out 1;

  border-top: 1px solid @subtle; /* Optional: Add a border */
  border-bottom: 1px solid @subtle; /* Optional: Add a border */
}
#custom-updates,
#custom-notification,
#bluetooth,
#network,
#battery,
#custom-power {
  font-size: 20px;
}

#custom-updates,
#custom-notification,
#bluetooth,
#network,
#battery,
#custom-power,
#clock {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}
#workspaces,
#custom-l_end,
#custom-r_end,
#window {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}
#custom-updates,
#custom-notification,
#bluetooth,
#network,
#battery,
#workspaces,
#window,
#custom-power,
#custom-l_end,
#custom-r_end,
#clock {
  color: @text;
  background: @base;
  opacity: 1;
  border-top: 1px solid @subtle;
  border-bottom: 1px solid @subtle;
}

#custom-r_end {
  border-radius: 0px 10px 10px 0px;

  border-top: 1px solid @subtle; /* Optional: Add a border */
  border-right: 1px solid @subtle; /* Optional: Add a border */
  border-bottom: 1px solid @subtle; /* Optional: Add a border */

  margin-right: 10px;
  padding-right: 0px;
}

#custom-l_end {
  border-radius: 10px 0px 0px 10px;
  border-top: 1px solid @subtle; /* Optional: Add a border */
  border-left: 1px solid @subtle; /* Optional: Add a border */
  border-bottom: 1px solid @subtle; /* Optional: Add a border */

  margin-left: 10px;

  padding-left: 0px;
}
